{% extends "admin/layout.html" %}
{% block content %}
<section style="padding-left:16%; padding-top:2%; padding-right:1%">
   <h3 class="h4 font-weight-bold text-theme" style="text-align:center;">Applications</h3>
   <br>
   <div class="col-md-9"></div>
   <div class="col-md-3 " style="offset:20px;">
      <br>
      <p><b>Select State</b></p>
      <select name="filter_state" id="inputState" style="background-color: rgb(255, 255, 255);"
         onchange="location = this.value;" class="form-control form-control-md">
         <option>Select State</option>
         <option value="/filter_projects_ad/Andra Pradesh">Andra Pradesh</option>
         <option value="/filter_projects_ad/Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
         <option value="/filter_projects_ad/Arunachal Pradesh">Arunachal Pradesh</option>
         <option value="/filter_projects_ad/Assam">Assam</option>
         <option value="/filter_projects_ad/Bihar">Bihar</option>
         <option value="/filter_projects_ad/Chhattisgarh">Chhattisgarh</option>
         <option value="/filter_projects_ad/Chandigarh">Chandigarh</option>
         <option value="/filter_projects_ad/Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
         <option value="/filter_projects_ad/Daman and Diu">Daman and Diu</option>
         <option value="/filter_projects_ad/Delhi">Delhi</option>
         <option value="/filter_projects_ad/Goa">Goa</option>
         <option value="/filter_projects_ad/Gujarat">Gujarat</option>
         <option value="/filter_projects_ad/Haryana">Haryana</option>
         <option value="/filter_projects_ad/Himachal Pradesh">Himachal Pradesh</option>
         <option value="/filter_projects_ad/Jammu and Kashmir">Jammu and Kashmir</option>
         <option value="/filter_projects_ad/Jharkhand">Jharkhand</option>
         <option value="/filter_projects_ad/Karnataka">Karnataka</option>
         <option value="/filter_projects_ad/Kerala">Kerala</option>
         <option value="/filter_projects_ad/Lakshadeep">Lakshadeep</option>
         <option value="/filter_projects_ad/Madya Pradesh">Madya Pradesh</option>
         <option value="/filter_projects_ad/Maharashtra">Maharashtra</option>
         <option value="/filter_projects_ad/Manipur">Manipur</option>
         <option value="/filter_projects_ad/Meghalaya">Meghalaya</option>
         <option value="/filter_projects_ad/Mizoram">Mizoram</option>
         <option value="/filter_projects_ad/Nagaland">Nagaland</option>
         <option value="/filter_projects_ad/Orissa">Orissa</option>
         <option value="/filter_projects_ad/Punjab">Punjab</option>
         <option value="/filter_projects_ad/Pondicherry">Pondicherry</option>
         <option value="/filter_projects_ad/Rajasthan">Rajasthan</option>
         <option value="/filter_projects_ad/Sikkim">Sikkim</option>
         <option value="/filter_projects_ad/Tamil Nadu">Tamil Nadu</option>
         <option value="/filter_projects_ad/Telagana">Telagana</option>
         <option value="/filter_projects_ad/Tripura">Tripura</option>
         <option value="/filter_projects_ad/Uttaranchal">Uttaranchal</option>
         <option value="/filter_projects_ad/Uttar Pradesh">Uttar Pradesh</option>
         <option value="/filter_projects_ad/West Bengal">West Bengal</option>
      </select>

   </div>

   <br>

   <div class="table-responsive text-nowrap">
      <table class="table table-striped">
         <thead>
            <tr style="background-color: #F08B14;font-family: sans-serif;text-align: center;">
               <th>PROJECT ID</th>
               <th>PROJECT NAME</th>
               <th>PROJECT LOCATION</th>
               <th>PROJECT DETAILS</th>
               <th>TOTAL</th>
               <th>APPROVE</th>
               <th>REJECT</th>
            </tr>
         </thead>
         <tbody>
            {% for project in p %}
            <tr>
               <td>{{ project.id }}</td>
               <td>{{ project.name }}</td>
               <td>{{ project.add2 }}</td>
               <td>
                  <form action="/projects" , method="POST">
                     <a href="/dpr_admin/{{project.id}}" value=2
                     style="padding: auto; justify-content:center;" type="button"
                     class="form-control-login btn btn-primary btn-theme btn-md">View Details</a>
                  </form>
               </td>
               <td>{{ project.total }}</td>
             <td>
                 <form action="/projects" , method="POST"><button name="method" value=3 type="submit"
                         class="btn btn-success"> Approve </button></form>
             </td>
             <td>
                 <form action="/projects" , method="POST"><button name="method" value=4 type="submit"
                         class="btn btn-danger"> Reject </button></form>
             </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
</section>
{% endblock content %}