{% extends "proponent/layout.html" %}
{% block content %}
<section style="padding-left: 20%;padding-top:30px;padding-right:10%;">
    <div class="row11 notification-container">
       <br>
       <h3 class="h4 font-weight-bold text-theme" style="text-align:center;">Notifications</h3>
       <br>
       <div style="margin-bottom: 20px;"></div>
       <div class="card notification-card notification-invitation">
          <div class="bodybody">
             <table>
                <tr>
                   <td style="width:40%; text-align: left">
                      <div class="card-title11">Application Approved</div>
                   </td>
                   <td style="width:5%">
                      <a href="#" class="btn" style="background-color:#F08B14;color: #ffff">View</a>
                   </td>
                </tr>
             </table>
          </div>
       </div>
       <div style="margin-bottom:10px;"></div>
       <div class="card notification-card notification-warning">
          <div class="card-body11">
             <table>
                <tr>
                   <td style="width:40%; text-align: left">
                      <div class="card-title11">Application in process</div>
                   </td>
                   <td style="width:5%">
                      <a href="#" class="btn" style="background-color:#F08B14;color: #ffff">View</a>
                   </td>
                </tr>
             </table>
          </div>
       </div>
       <div style="margin-bottom:10px;"></div>
       <div class="card notification-card notification-danger">
          <div class="card-body11">
             <table>
                <tr>
                   <td style="width:40%; text-align: left">
                      <div class="card-title11">Application submitted successfully</div>
                   </td>
                   <td style="width:5%;">
                      <a href="#" class="btn" style="background-color:#F08B14;color: #ffff;">View</a>
                   </td>
                </tr>
             </table>
          </div>
       </div>
       <div style="margin-bottom:10px;"></div>
    </div>
 </section>
{% endblock content %}